.logo
{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 136px;

	&__link
	{
		display: block; 
		margin-left: 25px;
		font-size: 22px;
		font-weight: 800;
		text-transform: uppercase;
		transition: 0.3s;

		&:hover
		{
			color: #D98880;
		}

		&:not(:hover)
		{
			color: $dark-color;
		}
	}
}

@media (min-width: 768px)
{
	.logo
	{
		&__link
		{
			font-size: 33px;		
		}
	}
}