.timeline
{
	box-sizing: border-box;
	padding: 40px 0px 50px 0px;
	background-size: 100%;

	&__zone
	{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 330px;

		&--first
		{
			position: relative;

			&::before
			{
				content: '';
				display: block;
				position: absolute;
				left: 104px;
				top: 17px;
				width: 1px;
				height: 248px;
				background-color: #c3d0d8;
			}

			&::after
			{
				content: '';
				display: block;
				position: absolute;
				left: 98px;
				top: 17px;
				width: 7px;
				height: 7px;
				border: 3px solid $main-color;
				border-radius: 50%;
				background-color: #fff;
			}
		}

		&--second
		{
			position: relative;

			&::before
			{
				content: '';
				display: block;
				position: absolute;
				left: 104px;
				top: 17px;
				width: 1px;
				height: 300px;
				background-color: #c3d0d8;
			}

			&::after
			{
				content: '';
				display: block;
				position: absolute;
				left: 98px;
				top: 17px;
				width: 7px;
				height: 7px;
				border: 3px solid $main-color;
				border-radius: 50%;
				background-color: #fff;
			}
		}

		&--third
		{
			position: relative;

			&::before
			{
				content: '';
				display: block;
				position: absolute;
				left: 104px;
				top: 17px;
				width: 1px;
				height: 175px;
				background-color: #c3d0d8;
			}

			&::after
			{
				content: '';
				display: block;
				position: absolute;
				left: 98px;
				top: 17px;
				width: 7px;
				height: 7px;
				border: 3px solid $main-color;
				border-radius: 50%;
				background-color: #fff;
			}
		}

		&--fourth
		{
			position: relative;

			&::after
			{
				content: '';
				display: block;
				position: absolute;
				left: 98px;
				top: 17px;
				width: 7px;
				height: 7px;
				border: 3px solid $main-color;
				border-radius: 50%;
				background-color: #fff;
			}
		}
	}
}

@media (min-width: 768px)
{
	.timeline
	{
		&__zone
		{
			width: 400px;

			&--first
			{
				&::before
				{
					left: 155px;
					height: 320px;
				}

				&::after
				{
					left: 149px;
				}
			}

			&--second
			{
				&::before
				{
					left: 155px;
				}

				&::after
				{
					left: 149px;
				}
			}

			&--third
			{
				&::before
				{
					left: 155px;
					height: 210px;
				}

				&::after
				{
					left: 149px;
				}
			}

			&--fourth
			{
				&::after
				{
					left: 149px;
				}
			}
		}
	}
}